

@mixin j-sb {
  display: flex;
  justify-content: space-between;
}


@mixin btn1{
  background-color: $bL-color;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
}

@mixin btn2{
  padding: 15px 20px;
  color: $sN-color;
  border: 1px solid $bL-color;
  border-radius: 5px;
}

@mixin btn3{
  padding: 15px 20px;
  border: 1px solid $bL-color;
  border-radius: 5px;
  background-color: $shark-color;
  color: white;
}

@mixin title {
  padding: 10px 15px;
  background-color: rgba(108,160,160,0.3);;
  color: $bL-color;
  border-radius: 5px
}

@mixin bull{
  background-image: url(../assets/img/bullets.png);
  height: 100px;
  width: 600px;
  margin: auto;
  transform: scale(0.3);
  opacity: 0.5;
}