
// Color Cube

$bL-color:rgb(3,132,132);
$gravel-color:rgb(80,79,81);
$pumice-color:rgb(188,190,188);
$sF-color:rgb(174,121,94);

// Median Cut

$shark-color:rgb(29,32,35);
$gN-color:rgb(238,241,237);
$sN-color:rgb(108,160,160);
$sB-color:rgb(86,128,142);
$saFe-color:rgb(169,107,83);

//Material Design

$vibrant-color:rgb(28,145,142);
$santaFe-color:rgb(171,107,83);
$bSto-color:rgb(18,36,57);
$masala-color:rgb(68,60,59);
$akaroa-color:rgb(214,185,163);

